<h1>Welcome to our Race Training Planner</h1>

<%= link_to "Log In", "/login"  %> <!-- path helper -->
<!--"Log In" is the label that will be on the webpage. -->
<!-- "/login" is the path -->


<%= link_to "Sign Up", signup_path  %>