<h1> Welcome, <%= @user.username%> </h1>   
<ul>

<% @user.races.distance_search(1).order_alpha_reverse.each do |r| %> <!-- 2021-01-15 02 -->
  <li> <%= r.distance %> </li> <!-- 2021-01-16 01 -->
  <li> <%= r.title %> </li> <!-- 2021-01-16 01 -->
<% end %> <!-- 2021-01-15 02 -->

<!-- 2021-01-16 01 -->

</ul> <!-- 2021-01-16 01 -->